@page "/canvas"
@using ModelingCanvas.Domain

<h3>Canvas - @_board.Id</h3>

<p>
    <button @onclick="() => _board.Add(new Command(Guid.NewGuid()))">
        Command
    </button>
    <button @onclick="() => _board.Add(new Event(Guid.NewGuid()))">
        Event
    </button>
    <button @onclick="() => _board.Add(new View(Guid.NewGuid()))">
        View
    </button>
    @if (_board.LinkMode == LinkMode.Active)
    {
        <button @onclick="_board.CancelLinkMode">Cancel Link</button>
    }
</p>

<p style="width: 100%; height: 1000px;">
    @foreach (var c in _board.Cards)
    {
        <Card 
            Model="c" 
            OnDelete="() => _board.DeleteCard(c)" 
            LinkStarted="() => _board.StartLinkMode(c)" 
            CardToLink="_board.CardToLink" 
            LinkMode="_board.LinkMode" />
    }
</p>
