@using ModelingCanvas.Domain
<div style="@Style" @ondragstart="OnDragStart" @ondragend="OnDragEnd" draggable="true">
    <h4>@Model.GetType().Name</h4>
    <button @onclick="OnDelete">X</button>

    @if (LinkMode == LinkMode.Inactive)
    {
        <button @onclick="LinkStarted">Link</button>
    }

    @if (Model.CanLinkFrom(CardToLink))
    {
        <button @onclick="OnAcceptLink">Accept</button>
    }
    
    <div>@Model.Links.Count</div>
</div>


