@using ModelingCanvas.Domain
<div style="@Style">
    <h4>@Model.GetType().Name</h4>
    <button @onclick="OnDelete">X</button>

    @if (LinkMode == LinkMode.Inactive)
    {
        <button @onclick="LinkStarted">Link</button>
    }

    @if (Model.CanLinkFrom(CardToLink))
    {
        <button>Accept</button>
    }
    <div @ondragstart="OnDragStart" @ondragend="OnDragEnd" draggable="true">Handle</div>
    @OffsetX, @OffsetY
</div>


